[Unit]
Description=Certbot Renewal (Let's Encrypt certificate for MQTT TLS)
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet
