[Unit]
Description=IoT Big Data Spark Analytics Pipeline
After=network.target

[Service]
Type=oneshot
User=ec2-user
#WorkingDirectory=/home/ec2-user/factory-telemetry/spark-jobs
EnvironmentFile=/home/ec2-user/factory-telemetry/infra/.env
ExecStart=/bin/bash /home/ec2-user/factory-telemetry/spark-jobs/run_hourly_pipeline.sh
StandardOutput=journal
StandardError=journal
