# Credentials - jangan pernah di-commit
infra/.env
grafana/provisioning/datasources/timescaledb.yml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Spark
spark-jobs/*.egg
spark-jobs/metastore_db/
spark-jobs/data/

# OS
.DS_Store
Thumbs.db